# --- Servidor (usado só por docker-compose.server.yml) ---
APP_DOMAIN=mahu.dominio.com
LETSENCRYPT_EMAIL=email@email.com
NGINX_PROXY_NETWORK=rede do proxy do nginx

CARTA_CORS_ORIGINS=
CARTA_JWT_SECRET=
CARTA_ENV=production
